@use 'sass:map';

@use '../../variables' as *;

@use 'pkg:@gip-recia/ui/mixins/banner';
@use 'pkg:@gip-recia/ui/core/variables' as *;
@use 'pkg:@gip-recia/ui/core/root';
@use 'pkg:@gip-recia/ui/functions' as *;
@use 'pkg:@gip-recia/ui/mixins' as *;
@use 'pkg:@gip-recia/ui/themes';

@include dm-sans;
@include sora;

html {
  &.services-layout,
  &.search-results {
    overflow-y: hidden;
  }
}

body {
  &.transition-active {
    transition: margin-left 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  }

  @media (width >= map.get($grid-breakpoints, md)) {
    &.navigation-drawer-visible {
      margin-left: var(--#{$prefix}drawer-width);
    }
  }
}

:root {
  --#{$prefix}drawer-width: #{$drawer-width};
  --#{$prefix}header-height: #{$header-height};
}

r-header,
r-footer,
extended-uportal-header,
extended-uportal-footer {
  font-family: $dm-sans;
  font-style: normal;
  font-weight: normal;
  font-size: var(--#{$prefix}body-font-size);
  letter-spacing: 0;
  color: var(--#{$prefix}body);
}
