@use 'sass:map';
@use '../../../../../ui/src/assets/scss/mixins/banner';
@use '../../variables' as *;
@use '../../../../../ui/src/assets/scss/variables' as *;
@use '../../../../../ui/src/assets/scss/root';
@use '../../../../../ui/src/assets/scss/mixins' as *;
@use '../../../../../ui/src/assets/scss/themes';

@include dm-sans;
@include sora;

html {
  &.services-layout,
  &.search-results {
    overflow-y: hidden;
  }
}

body {
  &.auto-margin-top {
    margin-top: var(--#{$prefix}header-height);
  }

  &.transition-active {
    transition: margin-left .15s cubic-bezier(0.4, 0, 0.2, 1);
  }

  @media (width >= map.get($grid-breakpoints, md)) {
    &.navigation-drawer-visible {
      margin-left: var(--#{$prefix}drawer-width);
    }
  }
}

:root {
  --#{$prefix}drawer-width: #{$drawer-width};
  --#{$prefix}header-height: #{$header-height};
}

r-header,
r-footer,
extended-uportal-header,
extended-uportal-footer {
  font-family: $dm-sans;
  font-style: normal;
  font-weight: normal;
  font-size: var(--#{$prefix}body-font-size);
  letter-spacing: 0;
  color: var(--#{$prefix}body);
}
