@use 'sass:map';
@use '../../common/assets/scss/global' as *;
@import '@fortawesome/fontawesome-svg-core/styles.css';

.widget-layout {
  > header {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    margin-bottom: 24px;

    > h2 {
      margin-bottom: 0;
    }

    > .actions {
      display: flex;
      flex-wrap: wrap;
      flex-grow: 1;
      justify-content: end;
      gap: 6px;
    }
  }

  > ul {
    @include unstyled-list;
    display: grid;
    gap: 8px;

    > * {
      min-width: 0;
    }
  }

  @media (width >= map.get($grid-breakpoints, md)) {
    > ul {
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      grid-auto-rows: 1fr;
      gap: 16px;
    }
  }

  @media (width >= map.get($grid-breakpoints, lg)) {
    > ul {
      grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    }
  }
}

.no-mobile {
  display: none;
  flex-basis: 100%;
}

.mobile-only {
  display: unset;
}

@media (width >= map.get($grid-breakpoints, md)) {
  .no-mobile {
    display: unset;
  }

  .mobile-only {
    display: none;
  }
}
