@use 'sass:map';
@use '../../common/assets/scss/global' as *;
@import '@fortawesome/fontawesome-svg-core/styles.css';

.widget-layout {
  > header {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    margin-bottom: 24px;

    > h2 {
      margin-bottom: 0;
    }

    > .actions {
      display: flex;
      flex-wrap: wrap;
      flex-grow: 1;
      justify-content: end;
      gap: 6px;
    }

    > .info {
      flex-basis: 100%;
    }
  }

  > .content {
    position: relative;

    > .empty {
      position: absolute;
      inset: 0;
      backdrop-filter: blur(1.5px);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;

      > svg {
        font-size: 38px;
        margin-bottom: 14px;
        color: HEXToRGBA($black, .3);
      }

      > p {
        white-space-collapse: preserve-breaks;
      }
    }

    > ul {
      @include unstyled-list;
      display: grid;
      gap: 8px;

      > li {
        min-width: 0;
      }
    }
  }

  @media (width >= map.get($grid-breakpoints, md)) {
    > .content > ul {
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      grid-auto-rows: 1fr;
      gap: 16px;
    }
  }

  @media (width >= map.get($grid-breakpoints, lg)) {
    > .content > ul {
      grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    }
  }
}
