@use 'sass:map';
@use '../../common/assets/scss/global' as *;
@import '@fortawesome/fontawesome-svg-core/styles.css';

.widget {
  margin-bottom: 8px;

  & > &-tiles {
    @include list-unstyled;
    display: grid;
    gap: 8px;
  }

  @media (width >= map.get($grid-breakpoints, md)) {
    & > &-tiles {
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      grid-auto-rows: 1fr;
      gap: 16px;
    }
  }

  @media (width >= map.get($grid-breakpoints, md)) {
    & > &-tiles {
      grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    }
  }
}
