@use 'sass:map';
@use 'variables' as *;

.container {
  width: 100%;
  padding-right: 16px;
  padding-left: 16px;
  margin-right: auto;
  margin-left: auto;

  @each $name, $value in $grid-breakpoints {
    @if $value != 0 {
      @media screen and (width >= $value) {
        max-width: map.get($container-max-widths, $name);
      }
    }
  }
}
