@use 'sass:map';

$colors: (
  primary: (
    default: #0062BC,
    pressed: #004584,
  ),
  secondary: (
    hover: #E6EFF8,
    pressed: #CCE0F2,
  ),
);

$primary: var(--primary, map.get($colors, primary, default));
$primary-pressed: var(--primary-pressed, map.get($colors, primary, pressed));
$secondary-hover: var(--secondary-hover, map.get($colors, secondary, hover));
$secondary-pressed: var(--secondary-pressed, map.get($colors, secondary, pressed));

$system: (
  blue: #005099,
  red: #AD1919,
);

$categories: (
  documentation: (
    color: #AB47BC,
    hover: #C400F3,
  ),
  collaboratif: (
    color: #5747BC,
    hover: #665BE7,
  ),
  apprentissage: (
    color: #FFAC2F,
    hover: #F5C72E,
  ),
  vie-scolaire: (
    color: #858585,
    hover: #5B5B5B,
  ),
  orientation: (
    color: #26C6DA,
    hover: #70EAF5,
  ),
  parametres: (
    color: #66BB6A,
    hover: #4EF186,
  ),
  communication: (
    color: #EC407A,
    hover: #F60086,
  ),
);

$white: #FFFFFF;
$black: #000000;

$favorite: #FFAA46;
$stroke: #E9E9E9;               // A utiliser pour tous les contours et délimitations
$tutorial: #171717;             // Tutorial background card
$basic-grey: #F4F4F4;           // Couleur de fond du footer haut
$basic-black: #1E1E1E;          // Couleur du texte et des icônes, background color du bouton primaire par défaut
$basic-black-30: #1E1E1E;
$basic-black-lighter: #737373;  // A utiliser lorsque le texte est de moindre importance
$lighter-black: #2C2C2C;        // Couleur de fond du drawer et du footer bas

// x y blur spread
$shadows: (
  neutral: 0 4px 15.9px 0,
  strong: 0 4px 24.4px 0,
  hover: 0 4px 26px 0,
  low-elevation: 0 2px 6px 0,
  low-elevation-avatar-notif: 0 1px 24px 0,
);

$sora: 'Sora', 'sans-serif';
$dm-sans: 'DM Sans', 'sans-serif';

$font-sizes: (
  mobile: (
    body: 12px,
    h1: 18px,
  ),
  web: (
    body: 14px,
    h1: 20px,
  ),
);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
);
