@use 'sass:map';

@use 'recia-style' as *;

@use 'layers/alert';
@use 'layers/discover';
@use 'layers/login';
@use 'layers/news';
@use 'layers/uportal';

* {
  box-sizing: border-box;
}

body {
  background-color: $white;
  font-family: $dm-sans;
  font-style: normal;
  font-weight: normal;
  font-size: map.get($font-sizes, mobile, body);
  letter-spacing: 0;
  color: $black;

  height: 100vh;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas:
    'header'
    'alert'
    'main'
    'footer';

  > header {
    grid-area: header;
  }

  > .alert {
    grid-area: alert;
  }

  > main {
    grid-area: main;
    margin: 40px 0;
    display: grid;
    row-gap: 40px;
  }

  > footer {
    grid-area: footer;
  }

  h1 {
    font-family: $sora;
    font-weight: bold;
    font-size: map.get($font-sizes, mobile, h1);
  }

  @media (width >= map.get($grid-breakpoints, sm)) {
    font-size: map.get($font-sizes, web, body);

    h1 {
      font-size: map.get($font-sizes, web, h1);
    }
  }
}

.grow-1 {
  flex-grow: 1;
}

:root {
  // --primary: #C60440;
}
