@use 'sass:map';
@use '../recia-style' as *;

.alert {
  display: flex;
  align-items: center;
  column-gap: 8px;
  background-color: var(--#{$prefix}system-blue);
  color: var(--#{$prefix}white);
  padding: 14px 16px;

  &-icon {
    height: 24px;
    width: 24px;
    aspect-ratio: 1/1;
    mask: url('./svg/campaign.svg') center;
    mask-repeat: no-repeat;
    mask-size: contain;
    background-color: var(--#{$prefix}white);
    opacity: .5;
  }

  &-text {
    flex-grow: 1;
    font-family: $dm-sans;
    font-weight: bold;

    > * {
      display: inline;
    }
  }

  &-link {
    color: inherit;
    font-weight: normal;
    text-wrap: nowrap;

    &:hover, &:focus {
      text-decoration: underline 2px solid;
      outline: none;
    }
  }

  &-close {
    color: inherit;
    opacity: .5;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    font-size: var(--#{$prefix}font-size-sm);

    &:hover, &:focus {
      opacity: 1;
    }
  }

  @media (width >= map.get($grid-breakpoints, md)) {
    column-gap: 34px;
    padding: 16px 34px;

    &-text {
      display: flex;
      justify-content: space-between;
      column-gap: 8px;
    }
  }
}
