@use 'sass:map';
@use '../recia-style' as *;

.alert {
  display: flex;
  align-items: center;
  column-gap: 8px;
  background-color: var(--#{$prefix}system-blue);
  color: var(--#{$prefix}white);
  padding: 14px 16px;
  height: 60px;

  & > &-icon,
  & > &-close {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    padding: 8px;
    margin: -4px;
    flex: 0 0 auto;
    color: inherit;
    font-size: 16px;
    opacity: .5;
  }

  & > &-text {
    flex-grow: 1;
    font-family: $dm-sans;
    font-weight: bold;

    > * {
      display: inline;
    }

    > .alert-link {
      color: inherit;
      font-weight: normal;
      text-wrap: nowrap;

      &:focus-visible {
        outline: none;
        font-weight: bold;
        text-decoration: underline 2px;
      }
    }
  }

  & > &-close {
    cursor: pointer;

    &:hover,
    &:focus-visible {
      opacity: 1;
    }

    &:focus-visible {
      outline: 3px solid #FFF;
    }
  }

  @media (width >= map.get($grid-breakpoints, md)) {
    column-gap: 34px;
    padding: 16px 34px;

    & > &-text {
      display: flex;
      justify-content: space-between;
      column-gap: 8px;
    }
  }
}
