@use 'sass:map';
@use '../recia-style' as *;

.alert {
  display: flex;
  align-items: center;
  column-gap: 8px;
  background-color: var(--#{$prefix}system-blue);
  color: var(--#{$prefix}white);
  padding: 14px 16px;

  > svg,
  & > &-close > svg {
    height: 20px;
    width: 20px;
    margin: 2px;
    color: var(--#{$prefix}white);
    opacity: .5;
  }

  & > &-text {
    flex-grow: 1;
    font-family: $dm-sans;
    font-weight: bold;

    > * {
      display: inline;
    }

    > .alert-link {
      color: inherit;
      font-weight: normal;
      text-wrap: nowrap;

      &:hover,
      &:focus-visible {
        text-decoration: underline 2px solid;
        outline: none;
      }
    }
  }

  & > &-close {
    border-radius: 50%;
    display: inline-flex;

    &:hover,
    &:focus-visible {
      > svg {
        opacity: 1;
      }
    }
  }

  @media (width >= map.get($grid-breakpoints, md)) {
    column-gap: 34px;
    padding: 16px 34px;

    & > &-text {
      display: flex;
      justify-content: space-between;
      column-gap: 8px;
    }
  }
}
