@use 'sass:map';
@use '../recia-style' as *;

@keyframes slide-up {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes slide-down {
  from {
    transform: translateY(0%);
  }

  to {
    transform: translateY(100%);
  }
}

.bottom-sheet {
  position: fixed;
  inset: 0;
  z-index: 1050;
  background-color: rgba(#000000, .25);

  > .scrollable-container {
    position: absolute;
    inset: 0;
    z-index: 1055;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    scrollbar-width: none;
    scroll-behavior: smooth;

    &:focus-visible {
      outline: none;

      > .sheet {
        outline: 2px dotted var(--#{$prefix}primary);
      }
    }

    > .sheet {
      position: relative;
      display: flex;
      flex-direction: column;
      background-color: var(--#{$prefix}body-bg);
      border-radius: 8px 8px 0 0;
      margin-top: 54px;
      padding: 16px;
      box-shadow: var(--#{$prefix}shadow-strong) HEXToRGBA($black, .1);
      animation: slide-up 0.3s ease-out forwards;

      > .dragable {
        align-self: center;
        height: 6px;
        width: 104px;
        opacity: .33;
        background-color: var(--#{$prefix}lighter-black);
        border-radius: 3px;
        margin-bottom: 16px;
      }

      > .close {
        display: none;
        position: absolute;
        top: 16px;
        right: 16px;
        font-size: 20px;
        opacity: .5;

        &:hover,
        &:focus-visible {
          opacity: 1;
          color: inherit;
        }
      }

      &.slide-down {
        animation: slide-down 0.3s ease-in forwards;
      }

      &.no-padding {
        padding: 0 !important;

        > .dragable {
          margin-top: 16px;
        }
      }
    }
  }

  @media (width >= map.get($grid-breakpoints, md)) {
    > .scrollable-container > .sheet {
      padding: 32px;

      > .dragable {
        display: none;
      }

      > .close {
        display: inline-flex;
      }
    }
  }
}
