@use 'sass:map';
@use '../recia-style' as *;

.dropdown-favorites {
  position: relative;

  > div {
    position: absolute;
    background-color: var(--#{$prefix}body-bg);
    border-radius: 0 8px 8px 0;
    box-shadow: var(--#{$prefix}shadow-neutral) HEXToRGBA($black, .1);
    overflow: hidden;
    top: 0;
    left: 100%;
    width: 734px;
    max-width: calc(100vw - calc(var(--#{$prefix}drawer-width) + 16px));
    padding: 22px 34px;
    color: var(--#{$prefix}body);
    transition: max-width .3s ease-in-out;

    > .active-indicator {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      border-left: 11px solid var(--#{$prefix}primary);
    }
  }
}

.favorite-layout {
  > header {
    display: flex;
    align-items: center;
    column-gap: 6px;

    > h2 {
      margin: 0;
      color: var(--#{$prefix}primary);
    }
  }

  > ul  {
    @include list-unstyled;

    > li {
      > header {
        color: var(--#{$prefix}basic-black-lighter);
        display: block;
        font-weight: 500;
        font-style: italic;
        border-bottom: 1px solid var(--#{$prefix}stroke);
        margin: 12px 0;
        padding: 4px 10px;
      }

      > ul  {
        @include list-unstyled;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
        grid-auto-rows: 1fr;
        gap: 12px;

        > li {
          &:first-child > .favorite > .actions > .action-back {
            display: none;
          }

          &:last-child > .favorite > .actions > .action-next {
            display: none;
          }
        }
      }
    }
  }

  @media (width >= map.get($grid-breakpoints, md)) {
    > ul > li > ul  {
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
      gap: 16px;
    }
  }
}
