@use 'sass:map';
@use '../recia-style' as *;

.info-etab {
  position: relative;
  display: flex;

  > .image {
    position: relative;
    width: 244px;
    overflow: hidden;

    > img  {
      position: absolute;
      inset: 0;
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }

  > .content {
    padding: 32px;
    text-wrap: nowrap;
    flex-shrink: 0;

    > header {
      display: flex;
      align-items: center;
      column-gap: 16px;
      margin-bottom: 32px;
      font-family: $sora;

      > svg {
        height: 32px;
        width: 32px;
        --logo-simple-color: var(--#{$prefix}primary);
      }

      .heading {
        &-etab {
          display: block;
          font-size: var(--#{$prefix}font-size-lg);
          font-weight: bold;
        }

        &-acad {
          display: block;
          font-size: var(--#{$prefix}font-size-xs);
          font-weight: 600;
          color: var(--#{$prefix}primary);
        }
      }

      > .close {
        @extend %button-and-tag;
        align-self: start;
        font-size: 20px;
        opacity: .5;
        border-radius: 50%;
        height: 24px;
        width: 24px;
        margin-left: 24px - 16px;

        &:hover,
        &:focus-visible {
          opacity: 1;
        }

        &:focus-visible {
          outline: 4px solid var(--#{$prefix}primary);
        }
      }
    }

    > address {
      font-style: unset;

      > ul {
        @include list-unstyled;
        display: flex;
        flex-direction: column;
        row-gap: 12px;
        font-size: var(--#{$prefix}font-size-md);
        line-height: 24px;
        opacity: .8;

        > li {
          display: inline-flex;
          gap: 16px;

          > svg {
            font-size: var(--#{$prefix}font-size-xxl);
            width: 32px;
            opacity: .3;
          }

          > a {
            @include link-unstyled;
          }
        }
      }
    }
  }
}
