@use 'sass:map';
@use '../recia-style' as *;

.suggestion {
  > header > a {
    display: none
  }

  & > &-tiles {
    @include list-unstyled;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(135px, 1fr));
    gap: 16px;
    margin: 24px 0;

    > li > a {
      @include link-unstyled;
    }
  }

  > footer {
    display: flex;
  }

  @media (width >= map.get($grid-breakpoints, md)) {
    > header {
      display: flex;
      align-items: center;

      > a {
        display: inline-flex;
      }
    }

    & > &-tiles {
      display: flex;
      flex-wrap: nowrap;

      > li {
        flex: 0 0 150px;
      }
    }

    > footer {
      display: none;
    }
  }
}
