@use 'sass:map';
@use '../recia-style' as *;

.uportal-footer {
  background-color: var(--#{$prefix}lighter-black);

  > .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 32px;
    color: $white;
    padding-top: 16px;
    padding-bottom: 16px;

    > .footer {
      &-links {
        @include list-unstyled;
        display: flex;
        justify-content: space-between;
        column-gap: 32px;
        font-size: var(--#{$prefix}font-size-xs);
        line-height: 17px;

        > li > a {
          @include link-unstyled;

          &:hover,
          &:focus-visible {
            text-decoration: underline;
            outline: none;
          }
        }
      }

      &-made-by {
        font-size: var(--#{$prefix}font-size-xxs);
        text-align: center;
        display: flex;
        align-items: center;
        column-gap: 8px;

        > .fa-heart {
          height: 18px;
          width: 18px;
          margin: 2px;
          color: var(--#{$prefix}system-red);
        }
      }
    }
  }

  @media (width >= map.get($grid-breakpoints, md)) {
    > .container {
      flex-direction: row-reverse;
      justify-content: space-between;

      > .footer-links {
        margin-left: 32px;
      }
    }
  }
}
