@use 'sass:map';
@use '../recia-style' as *;

.wayf {
  > header h1 > span {
    display: block;
    font-size: var(--#{$prefix}font-size-sm); // TODO: Should be 13px
    font-weight: normal;
    line-height: 21px;
  }

  & > &-tiles {
    @include list-unstyled;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
    grid-auto-rows: 1fr;
    gap: 15px;
    text-align: center;
    font-size: var(--#{$prefix}font-size-xxs);
    font-weight: 500;
    letter-spacing: -.25px;

    > li > a {
      text-decoration: none;
      color: inherit;
      outline: 1px solid var(--#{$prefix}stroke);
      border-radius: 10px;
      background-color: var(--#{$prefix}body-bg);
      box-shadow: var(--#{$prefix}shadow-neutral) var(--#{$prefix}black-10);
      padding: 12px;
      display: inline-block;
      width: 100%;
      height: 100%;
      transition:
        outline .15s ease-in,
        box-shadow .15s ease-in;

      > .wayf-profile {
        display: block;
        margin: 0 auto 8px auto;
        height: 64px;
        width: 64px;
        color: var(--#{$prefix}basic-black);
        opacity: .33;
        transition:
          color .15s ease-in,
          opacity .15s ease-in;

        @media (hover: none) {
          color: var(--#{$prefix}primary);
          opacity: unset;
        }
      }

      > span {
        white-space: pre-line;
      }

      &:hover, &:focus-visible {
        outline: 2px solid var(--#{$prefix}primary);
        box-shadow: var(--#{$prefix}shadow-hover) var(--#{$prefix}primary-20);

        > .wayf-profile {
          color: var(--#{$prefix}primary);
          opacity: unset;
        }
      }
    }
  }

  @media (width >= map.get($grid-breakpoints, sm)) {
    & > &-tiles {
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
      font-size: unset;
    }
  }

  @media (width >= map.get($grid-breakpoints, md)) {
    > header > h1 > span {
      display: unset;
      font-size: unset;
      font-weight: unset;
      line-height: unset;
    }

    & > &-tiles > li > a {
      padding: 16px;
    }
  }
}
