@use 'sass:map';
@use '../../recia-style' as *;

.service {
  --#{$prefix}service: #cccccc;
  --#{$prefix}service-hover: var(--#{$prefix}stroke);
  --#{$prefix}service-hover-shadow: var(--#{$prefix}service);

  border-radius: 10px;
  border-top: 11px solid var(--#{$prefix}service);
  background-color: var(--#{$prefix}body-bg);
  box-shadow: var(--#{$prefix}shadow-neutral) HEXToRGBA($black, .1);
  padding: 5px 16px 16px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;

  & > &-new {
    position: absolute;
    top: 5px;
    left: -6px;
    padding: 6px 10px;
    border-radius: 4px;
    background-color: var(--#{$prefix}system-red);
    color: $white;
    font-size: var(--#{$prefix}font-size-xxs);
    font-weight: bold;
  }

  & > &-favorite {
    position: absolute;
    top: 12px;
    right: 12px;
    z-index: 1;
    transition: opacity .3s ease-out;

    > button {
      display: inline-flex;
      border-radius: 50%;
      padding: 4px;
      margin: -4px;

      > svg {
        height: 20px;
        width: 20px;
        margin: 2px;
        color: var(--#{$prefix}stroke);
        transition: color .3s ease-out;

        &.marked {
          color: var(--#{$prefix}favorite);
        }
      }

      &:focus-visible {
        outline: 2px dotted var(--#{$prefix}service-hover);
      }
    }
  }

  & > &-icon {
    flex: 0 0 auto;
    order: 0;
    height: 40px;
    width: 40px;
    color: var(--#{$prefix}stroke);
    transition: color .3s ease-out;
  }

  & > &-name {
    flex: 0 0 auto;
    @include link-unstyled;
    order: 2;

    > h3 {
      margin: 0;
    }

    > span[aria-hidden="true"] {
      position: absolute;
      inset: -11px 0 0;
      border-radius: 10px;
    }

    &:focus-visible {
      outline: none;
    }
  }

  & > &-category {
    flex: 0 0 auto;
    order: 1;
    margin-top: 8px;
    font-size: var(--#{$prefix}font-size-xxs);
    opacity: .5;
    margin-bottom: 4px;
  }

  & > &-more {
    z-index: 1;
    order: 3;
    padding: 4px 8px;
    margin: 4px -8px -4px;
    text-decoration: underline;
    color: var(--#{$prefix}system-blue);
    font-family: $sora;
    font-size: var(--#{$prefix}font-size-xs);
    max-height: 2em;
    overflow: hidden;
    transition:
      visibility .25s ease-out,
      max-height .25s ease-out,
      padding-top .3s ease-out,
      padding-bottom .3s ease-out,
      margin-top .3s ease-out;

    &:focus-visible {
      outline: 2px dotted var(--#{$prefix}system-blue);
      border-radius: 50px;
    }
  }

  @each $type, $values in $categories {
    &.#{$type} {
      --#{$prefix}service: var(--#{$prefix}#{$type});
      --#{$prefix}service-hover: var(--#{$prefix}#{$type}-hover);
      --#{$prefix}service-hover-shadow: var(--#{$prefix}#{$type}-hover-shadow);
    }
  }

  &:hover,
  &:has(:focus-visible) {
    outline: none;
    border-top-color: var(--#{$prefix}service-hover);
    box-shadow: var(--#{$prefix}shadow-strong) var(--#{$prefix}service-hover-shadow);

    > .service {
      &-favorite {
        opacity: 1 !important;
      }

      &-icon {
        color: var(--#{$prefix}service-hover);
      }

      &-more {
        visibility: visible;
        max-height: 2em;
        padding-top: 4px;
        padding-bottom: 4px;
        margin-top: 4px;
      }
    }
  }

  @media (width >= map.get($grid-breakpoints, md)) {
    padding: 17px 16px 24px;

    & > &-category {
      font-size: var(--#{$prefix}font-size-xs);
    }

    & > &-name {
      font-size: var(--#{$prefix}font-size-md);
    }
  }

  @media (hover: hover) and (pointer: fine) {
    & > &-favorite:not(:has(.marked)) {
      opacity: 0;
    }

    & > &-more {
      max-height: 0;
      padding-top: 0;
      padding-bottom: 0;
      margin-top: 0;
    }
  }
}
