@use 'sass:map';
@use 'common/assets/scss/global' as *;
@import '@fortawesome/fontawesome-svg-core/styles.css';

@keyframes shimmer {
  0% {
    background-position: 100% 0;
  }

  100% {
    background-position: -100% 0;
  }
}

.categorie {
  font-weight: bold;
}

.grow-1 {
  flex-grow: 1;
}

h4 {
  margin-bottom: 0px;
}

.h2-wrapper {
  h2 {
    margin-bottom: 0px;
  }
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  // justify-content: space-between;
}

h2 {
  display: flex;
  align-items: center;
}

.badge {
  margin-left: auto;
  margin-right: 8px;
}

.grade {
  font-weight: bold;
  font-size: 1.2em;
}

h3.course {
  &:not(:first-child) {
    margin-top: 12px;
  }
  margin-bottom: 0px;
}

.h3-wrapper {
  h3 {
    margin-bottom: 0px;
  }
  width: calc(100% - 16px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.vie-scolaire-categorie {
  border-color: red;
  border-width: 5px;
  border-style: solid;
}

.vie-scolaire-categorie-content {
  width: calc(100% - 16px);
}

ul {
  list-style: none;
}

hr {
  margin-top: 6px;
  margin-bottom: 6px;
  height: 1px;
  border-style: ridge;
  opacity: 30%;
  border-width: 1px;
}

.devoirs-content {
  height: fit-content;
  overflow-y: scroll;
  max-height: 40vh;
}

.resume-content {
  .tabpanel {
    height: fit-content;
    overflow-y: scroll;
    max-height: 40vh;
  }
}

.vie-scolaire-content {
  height: fit-content;
  overflow-y: scroll;
  max-height: 40vh;
}

.taf-content {
  .tabpannel {
    height: 400px;
    overflow-y: scroll;
    max-height: 40vh;
  }
}

.section-wrapper {
  margin-top: 12px;
  &:first {
    margin-top: 0px;
  }
  border-radius: 8px;
  box-shadow: var(--#{$prefix}shadow-neutral) HEXToRGBA($black, 0.1);
  padding: 8px;
}

.texte {
  order: 1;
  text-align: left;
  flex: 1;
  justify-content: start;
}

.not-expanded {
  display: none;
}

.not-expanded-always {
  display: none;
}

.widescreen {
  display: none;
}

@media (width >= map.get($grid-breakpoints, lg)) {
  .redirect {
    &.mobile-only {
      display: none;
    }
  }

  .widescreen {
    display: flex;
    margin-bottom: 12px;
    h2 {
      margin-bottom: 0px;
    }
  }

  .h2-wrapper {
    display: none;
  }

  .not-expanded {
    display: block;
  }

  .title-wrapper {
    a {
      display: unset;
    }
  }
}

@media (width >= map.get($grid-breakpoints, lg)) {
  .page-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
}

.is-hidden {
  display: none;
}
