@use 'sass:map';
@use 'sass:math';
@use '../../recia-style' as *;
@use '../header/variables' as *;

$service-width: 150px;

.suggestions-layout {
  > header {
    margin-bottom: 24px;

    > h2 {
      margin-bottom: 0;
    }

    > a {
      display: none
    }
  }

  > ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(135px, 1fr));
    gap: 16px;

    > li > a {
      @include unstyled-link;
    }
  }

  > footer {
    display: flex;
    margin-top: 24px;
  }

  @media (width >= map.get($grid-breakpoints, md)) {
    > header {
      display: flex;
      align-items: center;

      > a {
        display: inline-flex;
      }
    }

    > ul {
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;
      scrollbar-width: none;
      scroll-behavior: smooth;
      margin-top: -1.5rem;
      margin-bottom: -1.5rem;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      max-width: unset;

      > li {
        flex: 0 0 $service-width;

        &:first-child {
          @each $name, $value in $grid-breakpoints {
            @if $value != 0 {
              @media screen and (width >= $value) {
                margin-left: max(50vw - #{math.div(map.get($container-max-widths, $name) + $service-width + $drawer-width, 2)}, 0px);
              }
            }
          }
        }
      }

      &:focus-visible {
        outline: 2px dotted var(--#{$prefix}primary);
      }
    }

    > footer {
      display: none;
    }
  }
}
