@use 'sass:map';
@use 'variables' as *;
@use 'mixins/colors' as *;

%button-and-tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border-radius: 50px;
  text-decoration: none;
  color: unset;
}

.btn {
  @extend %button-and-tag;
  padding: 12px 24px;
  font-family: $sora;
  font-weight: 600;
  font-size: 16px;

  &-primary {
    @extend .btn;
    background-color: var(--#{$prefix}btn-primary-bg);
    color: var(--#{$prefix}btn-primary-color);

    &:active {
      background-color: var(--#{$prefix}primary-pressed) !important;
    }

    &:hover,
    &:focus-visible {
      background-color: var(--#{$prefix}primary);
    }

    &:focus-visible {
      outline: 4px solid var(--#{$prefix}primary-30);
    }

    &:disabled,
    &.disabled {
      opacity: .33;
      pointer-events: none;
    }

    &.circle {
      border-radius: 50%;
      width: 44px;
      height: 44px;
      padding: 12px;
    }

    &.small {
      padding: 8px 16px;
    }

    &.small.circle {
      border-radius: 50%;
      width: 34px;
      height: 34px;
      padding: 8px;
    }
  }

  &-secondary {
    @extend .btn;
    background-color: var(--#{$prefix}btn-secondary-bg);
    color: var(--#{$prefix}secondary-color);

    &:active {
      background-color: var(--#{$prefix}secondary-pressed) !important;
      color: var(--#{$prefix}primary) !important;
    }

    &:hover,
    &:focus-visible {
      background-color: var(--#{$prefix}secondary-hover);
      color: var(--#{$prefix}primary);
    }

    &:focus-visible {
      outline: 4px solid var(--#{$prefix}primary);
    }

    &:disabled,
    &.disabled {
      opacity: .33;
      pointer-events: none;
    }

    &.circle {
      border-radius: 50%;
      width: 44px;
      height: 44px;
      padding: 12px;
    }

    &.small {
      padding: 8px 16px;
    }

    &.small.circle {
      border-radius: 50%;
      width: 34px;
      height: 34px;
      padding: 8px;
    }
  }

  &-tertiary {
    @extend .btn;
    padding: 8px 16px;
    font-family: $dm-sans;
    font-weight: 600;
    font-size: 14px;
    border-radius: 17px;
    color: var(--#{$prefix}secondary-color);

    &:hover,
    &:focus-visible {
      background-color: var(--#{$prefix}body-bg);
      color: var(--#{$prefix}primary);
      text-decoration: underline;
    }

    &:focus-visible {
      outline: 4px solid var(--#{$prefix}primary);
    }

    &:disabled,
    &.disabled {
      opacity: .5;
      pointer-events: none;
    }

    &.circle {
      border-radius: 50%;
      width: 34px;
      height: 34px;
      padding: 8px;
    }
  }
}
