@use 'sass:map';
@use 'variables' as *;
@use 'mixins' as *;
@use 'functions' as *;

%button-and-tag {
  @include link-unstyled;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border-radius: 50px;
}

.btn {
  @extend %button-and-tag;
  padding: 12px 24px;
  font-family: $sora;
  font-weight: 600;
  font-size: var(--#{$prefix}font-size-md);

  &-primary {
    @extend .btn;
    background-color: var(--#{$prefix}btn-primary-bg);
    color: var(--#{$prefix}btn-primary);

    &:active {
      background-color: var(--#{$prefix}btn-primary-pressed) !important;
    }

    &:hover,
    &:focus-visible {
      background-color: var(--#{$prefix}primary);
    }

    &:focus-visible {
      outline: 4px solid HEXToRGBA(var(--#{$prefix}primary), .3);
    }

    &:disabled,
    &.disabled {
      opacity: .33;
      pointer-events: none;
    }

    &.circle {
      border-radius: 50%;
      width: 44px;
      height: 44px;
      padding: 12px;
    }

    &.small {
      padding: 8px 16px;
      font-size: var(--#{$prefix}font-size-sm);

      &.circle {
        border-radius: 50%;
        width: 34px;
        height: 34px;
        padding: 8px;
      }
    }
  }

  &-secondary {
    @extend .btn;
    background-color: var(--#{$prefix}btn-secondary-bg);
    color: var(--#{$prefix}btn-secondary);

    &:active {
      background-color: var(--#{$prefix}btn-secondary-pressed) !important;
      color: var(--#{$prefix}primary) !important;
    }

    &:hover,
    &:focus-visible {
      background-color: var(--#{$prefix}btn-secondary-hover);
      color: var(--#{$prefix}primary);
    }

    &:focus-visible {
      outline: 4px solid var(--#{$prefix}primary);
    }

    &:disabled,
    &.disabled {
      opacity: .33;
      pointer-events: none;
    }

    &.circle {
      border-radius: 50%;
      width: 44px;
      height: 44px;
      padding: 12px;
    }

    &.small {
      padding: 8px 16px;
      font-size: var(--#{$prefix}font-size-sm);

      &.circle {
        border-radius: 50%;
        width: 34px;
        height: 34px;
        padding: 8px;
      }
    }
  }

  &-tertiary {
    @extend .btn;
    padding: 8px 16px;
    font-family: $dm-sans;
    font-weight: 600;
    font-size: var(--#{$prefix}font-size-sm);
    color: var(--#{$prefix}btn-secondary);

    &:hover,
    &:focus-visible {
      background-color: var(--#{$prefix}body-bg);
      color: var(--#{$prefix}primary);
      text-decoration: underline;
    }

    &:focus-visible {
      outline: 4px solid var(--#{$prefix}primary);
    }

    &:disabled,
    &.disabled {
      opacity: .5;
      pointer-events: none;
    }

    &.circle {
      border-radius: 50%;
      width: 34px;
      height: 34px;
      padding: 8px;
    }
  }
}

// TODO: dark theme
.tag {
  @extend %button-and-tag;
  padding: 8px 16px;
  font-family: $dm-sans;
  font-weight: 500;
  font-size: var(--#{$prefix}font-size-sm);

  &.active {
    background-color: var(--#{$prefix}basic-black);
    color:$white;

    &:hover {
      background-color: var(--#{$prefix}primary);
    }

    &:focus-visible {
      background-color: var(--#{$prefix}primary);
      color: var(--#{$prefix}white);
      outline: 3px solid HEXToRGBA(var(--#{$prefix}primary), .3);
    }
  }

  &:not(.active) {
    &:hover {
      background-color: var(--#{$prefix}btn-secondary-hover);
      color: var(--#{$prefix}primary);
    }

    &:focus-visible {
      background-color: var(--#{$prefix}btn-secondary-hover);
      color: var(--#{$prefix}primary);
      outline: 3px solid var(--#{$prefix}primary);
    }
  }

  &:disabled,
  &.disabled {
    opacity: 0.33;
    pointer-events: none;
  }

  &.circle {
    border-radius: 50%;
    width: 34px;
    height: 34px;
    padding: 8px;
  }

  &.small {
    padding: 4px 12px;

    &.circle {
      width: 26px;
      height: 26px;
      padding: 4px;
    }
  }
}
