// Color system

$white: #FFF;
$black: #000;

$favorite: #FFAA46;
$stroke: #E9E9E9;               // A utiliser pour tous les contours et délimitations
$tutorial: #171717;             // Tutorial background card
$basic-grey: #F4F4F4;           // Couleur de fond du footer haut
$basic-black: #1E1E1E;          // Couleur du texte et des icônes, background color du bouton primaire par défaut
$basic-black-lighter: #737373;  // A utiliser lorsque le texte est de moindre importance
$lighter-black: #2C2C2C;        // Couleur de fond du drawer et du footer bas

$system-blue: #005099;
$system-red: #AD1919;

$colors: (
  'white': $white,
  'black': $black,
  favorite: $favorite,
  stroke: $stroke,
  tutorial: $tutorial,
  basic-grey: $basic-grey,
  basic-black: $basic-black,
  basic-black-lighter: $basic-black-lighter,
  lighter-black: $lighter-black,
  system-blue: $system-blue,
  system-red: $system-red,
);

$primary: #0062BC;
$primary-pressed: #004584;
$primary-dark: #57AEFF;
$primary-pressed-dark: #8AC7FF;

$secondary: $basic-grey;
$secondary-hover: #E6EFF8;
$secondary-pressed: #CCE0F2;
$secondary-dark: $white;
$secondary-hover-dark: #1A1F23;
$secondary-pressed-dark: #212E3A;

$hover: #F8F8F8;                // Couleur des élément interaftifs en hover (ex: dropdown item)
$hover-dark: #262626;

$theme-colors: (
  primary: $primary,
  primary-pressed: $primary-pressed,
  secondary: $secondary,
  secondary-hover: $secondary-hover,
  secondary-pressed: $secondary-pressed,
  hover: $hover
);

$theme-colors-dark: (
  primary: $primary-dark,
  primary-pressed: $primary-pressed-dark,
  secondary: $secondary-dark,
  secondary-hover: $secondary-hover-dark,
  secondary-pressed: $secondary-pressed-dark,
  hover: $hover-dark
);

$categories: (
  documentation: (
    color: #AB47BC,
    hover: (
      color: #C400F3,
      shadow: .1,
    )
  ),
  collaboratif: (
    color: #5747BC,
    hover: (
      color: #665BE7,
      shadow: .15,
    )
  ),
  apprentissage: (
    color: #FFAC2F,
    hover: (
      color: #F5C72E,
      shadow: .15,
    )
  ),
  vie-scolaire: (
    color: #858585,
    hover: (
      color: #5B5B5B,
      shadow: .15,
    )
  ),
  orientation: (
    color: #26C6DA,
    hover: (
      color: #70EAF5,
      shadow: .15,
    )
  ),
  parametres: (
    color: #66BB6A,
    hover: (
      color: #4EF186,
      shadow: .15,
    )
  ),
  communication: (
    color: #EC407A,
    hover: (
      color: #F60086,
      shadow: .2,
    )
  ),
);

// Shadow

// x y blur spread
$shadows: (
  neutral: 0 4px 15.9px 0,
  strong: 0 4px 24.4px 0,
  hover: 0 4px 26px 0,
  low-elevation: 0 2px 6px 0,
  low-elevation-avatar-notif: 0 1px 24px 0,
);

// Prefix for :root CSS variables

$prefix: recia-;

// Spacing

// Body

$body: $basic-black;
$body-dark: $white;
$body-inverted: $body-dark;
$body-inverted-dark: $body;

$body-bg: $white;
$body-bg-dark: $basic-black;

// Links

// Paragraphs

// Grid breakpoints

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

// Grid containers

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px,
);

// Typography

$font-family-sans-serif: 'sans-serif';
$sora: 'Sora', $font-family-sans-serif;
$dm-sans: 'DM Sans', $font-family-sans-serif;

$headings-font-family: $sora;

$font-size-base: 1rem; // 16px

$headings-font-sizes: (
  1: 1.25,  // 20px
  2: 1.125, // 18px
  3: 1,     // 16px
  4: 0.875, // 14px
  // 5: ,
  // 6: ,
);

$headings-font-sizes-lg: (
  1: 1.5,   // 24px
  2: 1.25,  // 20px
  3: 1,     // 16px
  4: 0.875, // 14px
  // 5: ,
  // 6: ,
);

$font-size-breakpoints: (
  xxs: 0.625, // 10px
  xs: 0.75,   // 12px
  sm: 0.875,  // 14px
  md: 1,      // 16px
  lg: 1.125,  // 18px
  xl: 1.25,   // 20px
  xxl: 1.5,   // 24px
);

// Buttons

$btn-primary: $white;
$btn-primary-dark: $basic-black;
$btn-secondary: $basic-black;
$btn-secondary-dark: $white;

$btn-primary-bg: $basic-black;
$btn-primary-bg-dark: $white;
$btn-secondary-bg: $basic-grey;
$btn-secondary-bg-dark: $basic-black;

$buttons: (
  primary: $btn-primary,
  secondary: $btn-secondary,
  primary-bg: $btn-primary-bg,
  secondary-bg: $btn-secondary-bg,
);

$buttons-dark: (
  primary: $btn-primary-dark,
  secondary: $btn-secondary-dark,
  primary-bg: $btn-primary-bg-dark,
  secondary-bg: $btn-secondary-bg-dark,
);
