@use 'sass:map';

@use 'recia-style' as *;

@use 'layers/header';
@use 'layers/actions';
@use 'layers/alert';
@use 'layers/bottom-sheet';
@use 'layers/discover';
@use 'layers/dropdown-favorites';
@use 'layers/dropdown-info';
@use 'layers/eyebrow';
@use 'layers/favorite';
@use 'layers/filters';
@use 'layers/footer';
@use 'layers/info-etab';
@use 'layers/login';
@use 'layers/news';
@use 'layers/page-layout';
@use 'layers/search';
@use 'layers/service-info';
@use 'layers/service';
@use 'layers/suggestion';
@use 'layers/tooltip';
@use 'layers/wayf';
@use 'layers/widgets';

// 18, 36 and 45 are same
// TODO: 28
$domain-theme: (
  agri: (
    theme-colors: (
      primary: #37872A,
    ),
    theme-colors-dark: (
      primary: #87B77F,
    ),
    buttons: (
      primary-pressed: #275F1D,
      secondary-hover: #EBF3EA,
      secondary-pressed: #D7E7D4
    ),
    buttons-dark: (
      primary-pressed: #AFCFAA,
      secondary-hover: #1D1F1C,
      secondary-pressed: #282F27
    ),
  ),
  18: (
    theme-colors: (
      primary: #004899,
    ),
    theme-colors-dark: (
      primary: #6691C2,
    ),
    buttons: (
      primary-pressed: #00326B,
      secondary-hover: #E6EDF5,
      secondary-pressed: #CCDAEB
    ),
    buttons-dark: (
      primary-pressed: #99B6D6,
      secondary-hover: #1B1D20,
      secondary-pressed: #232A31
    ),
  ),
  28: (
    theme-colors: (
      primary: #AE9E22,
    ),
    theme-colors-dark: (
      primary: #87B77F,
    ),
    buttons: (
      primary-pressed: #8C7F1A,
      secondary-hover: #F5F3E6,
      secondary-pressed: #EBE8CC
    ),
    buttons-dark: (
      primary-pressed: #AFCFAA,
      secondary-hover: #1D1F1C,
      secondary-pressed: #282F27
    ),
  ),
  36: (
    theme-colors: (
      primary: #004899,
    ),
    theme-colors-dark: (
      primary: #6691C2,
    ),
    buttons: (
      primary-pressed: #00326B,
      secondary-hover: #E6EDF5,
      secondary-pressed: #CCDAEB
    ),
    buttons-dark: (
      primary-pressed: #99B6D6,
      secondary-hover: #1B1D20,
      secondary-pressed: #232A31
    ),
  ),
  37: (
    theme-colors: (
      primary: #C60440,
    ),
    theme-colors-dark: (
      primary: #DD688C,
    ),
    buttons: (
      primary-pressed: #8B032D,
      secondary-hover: #F9E6EC,
      secondary-pressed: #F4CDD9
    ),
    buttons-dark: (
      primary-pressed: #E89BB3,
      secondary-hover: #211B1D,
      secondary-pressed: #352429
    ),
  ),
  41: (
    theme-colors: (
      primary: #007EB4,
    ),
    theme-colors-dark: (
      primary: #66B2D2,
    ),
    buttons: (
      primary-pressed: #00587E,
      secondary-hover: #E6F2F8,
      secondary-pressed: #CCE5F0
    ),
    buttons-dark: (
      primary-pressed: #90CDE1,
      secondary-hover: #1B1F20,
      secondary-pressed: #232F33
    ),
  ),
  45: (
    theme-colors: (
      primary: #004899,
    ),
    theme-colors-dark: (
      primary: #6691C2,
    ),
    buttons: (
      primary-pressed: #00326B,
      secondary-hover: #E6EDF5,
      secondary-pressed: #CCDAEB
    ),
    buttons-dark: (
      primary-pressed: #99B6D6,
      secondary-hover: #1B1D20,
      secondary-pressed: #232A31
    ),
  ),
);

@each $domain, $data in $domain-theme {
  .dev-playground.#{'dom-#{$domain}'} {
    @each $color, $value in map.get($data, theme-colors) {
      --#{$prefix}#{$color}: #{$value};
      --#{$prefix}#{$color}-light: #{$value};
    }

    @each $color, $value in map.get($data, theme-colors-dark) {
      --#{$prefix}#{$color}-inverted: #{$value};
      --#{$prefix}#{$color}-dark: #{$value};
    }

    @each $color, $value in map.get($data, buttons) {
      --#{$prefix}btn-#{$color}: #{$value};
      --#{$prefix}btn-#{$color}-light: #{$value};
    }

    @each $color, $value in map.get($data, buttons-dark) {
      --#{$prefix}btn-#{$color}-inverted: #{$value};
      --#{$prefix}btn-#{$color}-dark: #{$value};
    }
  }

  @media (prefers-color-scheme: dark) {
    .dev-playground.#{'dom-#{$domain}'} {
      color-scheme: dark;

      @each $color, $value in map.get($data, theme-colors-dark) {
        --#{$prefix}#{$color}: #{$value};
      }

      @each $color, $value in map.get($data, theme-colors) {
        --#{$prefix}#{$color}-inverted: #{$value};
      }

      @each $color, $value in map.get($data, buttons-dark) {
        --#{$prefix}btn-#{$color}: #{$value};
      }

      @each $color, $value in map.get($data, buttons) {
        --#{$prefix}btn-#{$color}-inverted: #{$value};
      }
    }
  }
}

html {
  font-size: var(--#{$prefix}font-size-base);
}

body {
  background-color: var(--#{$prefix}body-bg);
  font-family: $dm-sans;
  font-style: normal;
  font-weight: normal;
  font-size: var(--#{$prefix}body-font-size);
  letter-spacing: 0;
  color: var(--#{$prefix}body);

  &.dev-playground {
    transition: margin-left .3s ease-in-out;
    height: 100vh;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas:
      'header'
      'alert'
      'main'
      'footer';

    > header {
      grid-area: header;
      height: 36px + 2 * 16;
    }

    > .alert {
      grid-area: alert;
    }

    > main {
      grid-area: main;
      margin-top: 40px;
      margin-bottom: 40px;
      display: grid;
      grid-auto-rows: min-content;
      row-gap: 40px;

      > * {
        min-width: 0;
      }
    }

    > footer {
      grid-area: footer;
    }

    @media (width >= map.get($grid-breakpoints, md)) {
      &:has(.extended-uportal-header .drawer) {
        margin-left: 72px;
      }

      > main {
        row-gap: 70px;
      }
    }
  }
}
