@use 'sass:map';

@use 'recia-style' as *;

@use 'layers/alert';
@use 'layers/discover';
@use 'layers/login';
@use 'layers/news';
@use 'layers/uportal';

:root {
  // --#{$prefix}primary: #C60440;
}

body {
  background-color: var(--#{$prefix}body-bg);
  font-family: $dm-sans;
  font-style: normal;
  font-weight: normal;
  font-size: var(--#{$prefix}body-font-size);
  letter-spacing: 0;
  color: var(--#{$prefix}body-color);

  height: 100vh;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas:
    'header'
    'alert'
    'main'
    'footer';

  > header {
    grid-area: header;
  }

  > .alert {
    grid-area: alert;
  }

  > main {
    grid-area: main;
    margin: 40px 0;
    display: grid;
    row-gap: 40px;
  }

  > footer {
    grid-area: footer;
  }
}
