@use 'sass:map';
@use '../../button/src/style' as *;
@use '../../tag/src/style' as *;
@use '../../common/assets/scss/global' as *;
@import '@fortawesome/fontawesome-svg-core/styles.css';

.service-info {
  > header {
    > .heading {
      display: flex;
      column-gap: 6px;
      margin-bottom: 16px;

      > .heading {
        &-logo {
          flex: 0 0 auto;
          height: 100px;
          width: 100px;
          opacity: .2;

          > image {
            width: 100%;
            height: 100%;
          }
        }

        &-text {
          > h1 {
            margin: 0;
          }

          > .origin {
            display: block;
            font-style: italic;
            font-size: var(--#{$prefix}font-size-sm);
            line-height: 150%;
          }

          > .tag-category {
            margin-top: 9px;
          }
        }
      }
    }

    > a,
    > button {
      width: 100%;
    }
  }

  > .content {
    display: flex;
    flex-direction: column;
    gap: 24px 58px;
    padding: 24px 0;

    > section {
      &.first-step {
        > .video {
          display: flex;
          align-items: center;
          border-radius: 4px;
          overflow: hidden;

          > * {
            aspect-ratio: 16/9;
            width: 100%;
            height: auto;
          }
        }
      }

      &.description {
        > div {
          line-height: 150%;

          a {
            @include text-link;
          }
        }
      }

      &.tutorials {
        > ul {
          @include unstyled-list;

          > li > a {
            @include list-link;
            color: var(--#{$prefix}system-blue);
            line-height: 250%;
          }
        }

        > a,
        > button {
          margin-top: 16px;
          font-size: unset;
        }
      }
    }
  }

  > footer {
    display: flex;
    flex-direction: column;
    gap: 16px;

    > a,
    > button {
      width: 100%;

      &.launch > svg {
        display: none;
      }
    }
  }

  @media (width >= map.get($grid-breakpoints, md)) {
    > header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-right: 24px;

      > .heading {
        margin: 0;
      }

      > a,
      > button {
        width: unset;
      }
    }

    > .content {
      flex-direction: row;
      flex-wrap: wrap;
      padding: 24px;

      > section {
        &.description {
          flex: 1 0 100%;

          > h2 {
            @include sr-only;
          }
        }

        &.first-step,
        &.tutorials {
          flex: 1 0 45%;
        }

        > ul > li > a {
          font-weight: bold;
        }
      }
    }

    > footer {
      flex-direction: row;
      justify-content: space-between;
      padding-top: 32px;

      > a,
      > button {
        width: unset;

        &.launch > svg {
          display: unset;
        }
      }
    }
  }
}
