@use 'sass:map';
@use '../../../../actions/src/style' as *;
@use '../../../../common/assets/scss/global' as *;
@import '@fortawesome/fontawesome-svg-core/styles.css';

$line-height: 40px;
$line-height-md: 50px;
$vivible-items: 3;

$header-height: 60px;
$header-height-md: 58px;

$menu-height: $vivible-items * $line-height;
$menu-height-md: $vivible-items * $line-height-md + $vivible-items - 1;

$skeleton-placeholder-height: $header-height + 2;
$skeleton-placeholder-height-md: $header-height-md + $menu-height-md + 2;

@keyframes widget-slide-down {
  from {
    max-height: 0;
  }

  to {
    max-height: $menu-height;
  }
}

@keyframes shimmer {
  0% {
    background-position: 100% 0;
  }

  100% {
    background-position: -100% 0;
  }
}

.widget {
  position: relative;
  border-radius: 10px;
  height: 100%;
  border: 1px solid var(--#{$prefix}stroke);
  box-shadow: var(--#{$prefix}shadow-neutral) HEXToRGBA($black, .05);

  &-skeleton,
  &-placeholder {
    border-radius: 10px;
    height: $skeleton-placeholder-height;
  }

  &-skeleton {
    background: linear-gradient(90deg, #e9e9e9 30%, #f6f6f6 50%, #e9e9e9 70%);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite linear;
  }

  &-placeholder {
    border: 3px dashed var(--#{$prefix}stroke);
  }

  > .actions {
    @include actions;
  }

  > header {
    > div,
    > button {
      display: inline-flex;
      align-items: center;
      justify-content: space-between;
      gap: 8px;
      height: $header-height;
      width: 100%;
      background-color: var(--#{$prefix}basic-grey);
      padding: 16px 12px;
      text-align: start;
      overflow: hidden;
      border-radius: 10px;

      > a,
      & {
        > .heading {
          @include unstyled-link;

          > h3 {
            font-size: var(--#{$prefix}font-size-sm);
            margin-bottom: 0;
          }

          > .heading-subtitle {
            font-size: var(--#{$prefix}font-size-xxs);
            color: var(--#{$prefix}basic-black-lighter);
          }
        }
      }
    }

    > div {
      display: none !important;
      border-bottom-left-radius: unset;
      border-bottom-right-radius: unset;

      > a {
        @include unstyled-link;
        display: inline-flex;
        align-items: center;
        gap: 0;
        transition:
          gap .15s ease-out;

        > .focus-indicator {
          font-size: 16px;
          opacity: 0;
          max-width: 0;
          transition:
            opacity .15s ease-out,
            max-width .15s ease-out;
        }

        &:hover,
        &:focus-visible {
          outline: none;
          gap: 8px;

          > .focus-indicator {
            opacity: 1;
            max-width: 1em;
            color: var(--#{$prefix}primary);
          }

          > .heading > h3 {
            color: var(--#{$prefix}primary);
          }
        }
      }
    }

    > button {
      > .folded-indicator {
        font-size: 16px;
        margin: 4px;
        color: var(--#{$prefix}basic-black);
        transition: rotate .2s ease-in-out;
      }

      &[aria-expanded="true"] {
        border-bottom-left-radius: unset;
        border-bottom-right-radius: unset;
      }

      &:hover,
      &:focus-visible {
        outline: none;

        > .heading > h3 {
          color: var(--#{$prefix}primary);
        }
      }
    }
  }

  > .menu {
    overflow: hidden;
    border-radius: 0 0 10px 10px;
    animation: widget-slide-down .15s cubic-bezier(0.4, 0, 0.2, 1) forwards;

    > * {
      height: $menu-height;
    }

    > ul {
      @include unstyled-list;
      background-color: var(--#{$prefix}body-bg);
      overflow-y: auto;
      outline: none;
      scroll-snap-type: y mandatory;

      > li {
        scroll-snap-align: start;

        > a,
        > button {
          @include unstyled-link;
          display: inline-flex;
          align-items: center;
          gap: 12px;
          padding: 16px 12px;
          width: 100%;
          height: $line-height;

          > .icon {
            flex: 0 0 auto;
            height: 20px;
            width: 20px;
            color: var(--#{$prefix}basic-black);
            opacity: .3;

            &[class*="fa-"] {
              height: 18px;
              width: 18px;
            }

            &.error,
            &.warn {
              opacity: .6;
            }

            &.error {
              color: var(--#{$prefix}system-red) !important;
            }

            &.warn {
              color: #FFAA46 !important;
            }
          }

          > img.icon {
            opacity: .5;
          }

          > div {
            display: flex;
            flex-direction: column;
            overflow: hidden;

            > span {
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;

              &.description {
                font-size: var(--#{$prefix}font-size-xs);
                opacity: .6;
              }
            }
          }

          &:hover,
          &:focus-visible {
            outline: none;
            color: var(--#{$prefix}primary);
            background-color: var(--#{$prefix}btn-secondary-hover); // TODO: replace with more lighter color

            > .icon {
              color: var(--#{$prefix}primary);
              opacity: 1;
            }
          }
        }
      }
    }

    > .empty,
    > .error {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 16px 12px;
      background-color: var(--#{$prefix}body-bg);

      > .icon {
        font-size: 38px;
        margin-bottom: 14px;
        color: var(--#{$prefix}basic-black);
        opacity: .1;
      }

      > .text {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: var(--#{$prefix}font-size-xs);

        > .large {
          font-size: var(--#{$prefix}font-size-sm);
          font-weight: bold;
          letter-spacing: -0.15px;
        }
      }

      > a,
      > button {
        margin-top: 24px;
      }
    }
  }

  &:not(:has(.actions)) {
    &:hover,
    &:has(:focus-visible) {
      outline: 2px solid var(--#{$prefix}primary);
      box-shadow: var(--#{$prefix}shadow-hover) HEXToRGBA(var(--#{$prefix}primary), .2);
    }
  }

  &:has(.actions) {
    &:hover,
    &:has(:focus-visible) {
      box-shadow: var(--#{$prefix}shadow-strong) HEXToRGBA($black, .1);
    }
  }

  @media (width >= map.get($grid-breakpoints, md)) {
    box-shadow: var(--#{$prefix}shadow-neutral) HEXToRGBA($black, .1);

    &-skeleton,
    &-placeholder {
      height: $skeleton-placeholder-height-md;
    }

    > header {
      > div {
        display: inline-flex !important;
        height: $header-height-md;

        > a,
        & {
          > .heading {
            > h3 {
              font-size: var(--#{$prefix}font-size-h3);
            }

            > .heading-subtitle {
              font-size: var(--#{$prefix}font-size-xs);
            }
          }
        }
      }

      > button {
        display: none;
      }
    }

    > .menu {
      display: block !important;
      animation: none;

      > * {
        height: $menu-height-md;
      }

      > ul > li {
        > a,
        > button {
          height: $line-height-md;
        }

        &:not(:last-child) {
          border-bottom: 1px solid var(--#{$prefix}stroke);
        }
      }
    }
  }
}
