@use 'sass:map';
@use '../recia-style' as *;

.discover {
  &-video {
    width: 100%;
    margin-bottom: 32px;
    border-radius: 3.5px
  }

  &-section {
    > header {
      margin-bottom: 16px;
    }

    &-nav {
      @include list-unstyled;

      margin-bottom: 24px;
      display: flex;

      > li {
        padding: 8px 12px;
        border-bottom: 1px solid $stroke;
        font-weight: bold;
        font-size: 14px;

        &.active {
          border-color: $basic-black;
          background-color: rgba(map.get($system, blue), .1);
        }
      }
    }

    > p {
      margin-bottom: 24px;
    }

    &-tiles {
      @include list-unstyled;

      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 16px;
      margin-bottom: 16px;

      > li > a {
        text-decoration: none;
        color: inherit;
        outline: 1px solid $stroke;
        border-radius: 10px;
        background-color: $white;
        box-shadow: map.get($shadows, strong) rgba($black, .1);
        padding: 16px;
        display: block;
        width: 100%;
        height: 100%;

        > svg {
          font-size: 13px;
          margin-bottom: 8px;
        }

        > p {
          font-weight: 500;
        }

        &:hover, &:focus {
          color: $primary;
          outline: 1px solid $primary;
          box-shadow: map.get($shadows, strong) rgba(map.get($colors, primary, default), .2);
        }
      }
    }
  }

}
