@use '../../../../ui/src/assets/scss/recia-style.scss' as *;

html {
  font-size: var(--#{$prefix}font-size-base);

  body {
    background-color: var(--#{$prefix}body-bg);
    font-family: $dm-sans;
    font-style: normal;
    font-weight: normal;
    font-size: var(--#{$prefix}body-font-size);
    letter-spacing: 0;
    color: var(--#{$prefix}body);
  }
}

section {
  margin: 32px 0;
}

section.sub,
section > section {
  margin: 16px 0;
}

button:not([class]) {
  margin: 8px 0;
  padding: 8px;
  border: 1px solid;
  border-radius: 1rem;
}
