@use 'sass:map';
@use 'variables' as *;
@use 'info-etab';
@use 'navigation-drawer' as *;
@use 'notification-drawer' as *;
@use 'principal-container' as *;
@use 'search-container';
@use 'search';
@use 'services-layout' as *;

body {
  &,
  .header > .services-layout {
    transition: margin-left .3s ease-in-out;
  }

  @media (width >= map.get($grid-breakpoints, md)) {
    &:has(.header .navigation-drawer) {
      &,
      .header > .services-layout {
        margin-left: 72px;
      }
    }
  }
}

.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1030;

  > .not-logged {
    display: flex;
    align-items: center;
    justify-content: center;
    height: $header-height;

    > .header-logo {
      height: 27px;
      width: auto;
    }
  }

  > button {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: center;
    color: inherit;
    height: $header-height + 2 * 16;
    width: 72px;
    font-size: var(--#{$prefix}font-size-xxs);
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--#{$prefix}lighter-black);
    color: #FFF;
    z-index: 2;

    > svg {
      height: 28px;
      width: 28px;
      margin: -4px;
    }

    > span {
      display: none;
    }

    &:hover,
    &:focus-visible {
      outline: none;
      background-color: var(--#{$prefix}primary);

      > span {
        display: unset;
      }
    }
  }

  > .navigation-drawer {
    @include navigation-drawer;
  }

  > .topbar {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    padding: 16px;
    background-color: var(--#{$prefix}body-bg);
    box-shadow: var(--#{$prefix}shadow-strong) HEXToRGBA($black, .1);

    > .principal-container {
      @include principal-container;
    }
  }

  > .notification-drawer {
    @include notification-drawer;
  }

  > .services-layout {
    @include services-layout;
  }

  @media (width >= map.get($grid-breakpoints, md)) {
    > .not-logged {
      justify-content: unset;
    }
  }
}
