@use 'sass:map';
@use 'variables' as *;
@use 'info-etab';
@use 'navigation-drawer' as *;
@use 'notification-drawer' as *;
@use 'principal-container' as *;
@use 'search';
@use 'services-layout' as *;

body {
  &.transition-active {
    transition: margin-left .15s cubic-bezier(0.4, 0, 0.2, 1);
  }

  &.transition-active .header {
    > .navigation-drawer {
      transition:
        transform .15s cubic-bezier(0.4, 0, 0.2, 1),
        width .15s cubic-bezier(0.4, 0, 0.2, 1);
    }

    > .topbar {
      > .search-container {
        transition: margin-left .15s cubic-bezier(0.4, 0, 0.2, 1);
      }
    }

    > .services-layout {
      transition: margin-left .15s cubic-bezier(0.4, 0, 0.2, 1);
    }

    > .notification-drawer {
      transition: transform .15s cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  @media (width >= map.get($grid-breakpoints, md)) {
    &:has(.header .navigation-drawer.visible) {
      &,
      .header > .topbar > .search-container,
      .header > .services-layout {
        margin-left: $drawer-width;
      }
    }
  }
}

.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1030;

  > button {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: center;
    color: inherit;
    height: $header-height;
    width: 72px;
    font-size: var(--#{$prefix}font-size-xxs);
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--#{$prefix}lighter-black);
    color: #FFF;
    z-index: 2;

    > svg {
      height: 28px;
      width: 28px;
      margin: -4px;
    }

    > span {
      display: none;
    }

    &:hover,
    &:focus-visible {
      outline: none;
      background-color: var(--#{$prefix}primary);

      > span {
        display: unset;
      }
    }
  }

  > .navigation-drawer {
    @include navigation-drawer;
  }

  > .topbar {
    position: relative;
    background-color: var(--#{$prefix}body-bg);
    box-shadow: var(--#{$prefix}shadow-strong) HEXToRGBA($black, .1);

    > * {
      padding: 16px;

      &.not-logged,
      &.principal-container {
        height: $header-height;
      }
    }

    > .not-logged {
      display: flex;
      align-items: center;
      justify-content: center;

      > .logo {
        flex: 0 1 auto;
        height: 27px;
        width: auto;
      }

      > button,
      > a {
        flex: 0 0 auto;
        @include button-and-tag;
        font-family: $sora;
        padding: 6px 12px;
        font-weight: 600;
        font-size: var(--#{$prefix}font-size-md);
        margin-right: -12px;

        &:focus-visible {
          outline: 4px solid var(--#{$prefix}primary);
        }
      }
    }

    > .principal-container {
      @include principal-container;
    }

    > .search-container {
      display: flex;
      justify-content: center;
    }
  }

  > .notification-drawer {
    @include notification-drawer;
  }

  > .services-layout {
    @include services-layout;
  }

  @media (width >= map.get($grid-breakpoints, md)) {
    > .topbar > .not-logged {
      justify-content: unset;
    }
  }

  @media (width >= map.get($grid-breakpoints, lg)) {
    > .topbar > .search-container {
      display: none;
    }
  }
}
