@use 'sass:map';
@use 'variables' as *;

#services-layout {
  position: fixed;
  inset: $header-height + 2 * 16 0 0 0;
  color: var(--#{$prefix}body);
  overflow-y: auto;
  background-color: var(--#{$prefix}body-bg);
  margin-left: 72px; // TODO: drawer width if visible

  > div {
    margin-top: 32px;
    margin-bottom: 32px;

    > header > .sort {
      align-self: flex-end;
      font-size: var(--#{$prefix}font-size-sm);
      display: flex;
      align-items: center;
      column-gap: 15px
    }

    > .service-tiles {
      @include unstyled-list;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(154px, 1fr));
      grid-auto-rows: 1fr;
      gap: 16px;

      > li > a {
        @include unstyled-link;
      }
    }
  }
}
