@use 'sass:map';
@use '../core/variables' as *;
@use '../mixins' as *;

button.tag {
  @include button-tag;
}

input[type='radio'].tag,
input[type='checkbox'].tag {
  @include input-tag;
}

:not(button).tag {
  @include not-button-tag;

  &-primary {
    @include not-button-tag;
    background-color: var(--#{$prefix}btn-primary-bg);
    color: var(--#{$prefix}btn-primary);
  }

  &-category {
    @include not-button-tag;

    @each $type, $values in $categories {
      &.#{$type} {
        background-color: var(--#{$prefix}#{$type});
        color: var(--#{$prefix}#{$type}-text);
      }
    }
  }
}
