@mixin banner {
  /*!
   * recia-ui by GIP RECIA - https://github.com/GIP-RECIA/recia-ui
   * License - https://github.com/GIP-RECIA/recia-ui/blob/main/LICENSE
   * Copyright 2025 GIP-RECIA, Inc.
   */
}

@include banner
