@mixin sr-only {
  border: 0 !important;
	clip-path: inset(50%) !important;
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	width: 1px !important;
	white-space: nowrap !important;

  &:not(caption) {
    position: absolute !important;
  }

  * {
    overflow: hidden !important;
  }
}

@mixin sr-only-focusable {
  &:not(:focus, :focus-within) {
    @include sr-only;
  }
}
