@use 'sass:map';
@use '../core/variables' as *;
@use '../functions' as *;
@use '../mixins' as *;

.skip-links {
  position: absolute;
  z-index: 1031;
  min-height: var(--#{$prefix}header-height);
  padding: 16px;
  background-color: var(--#{$prefix}body-bg);
  display: flex;
  align-items: center;
  transform: translateY(-100%);
  transition: transform 0.15s cubic-bezier(0.4, 0, 0.2, 1);

  > ul {
    @include unstyled-list;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    font-size: var(--#{$prefix}font-size-sm);
    font-weight: 500;

    > li {
      > a {
        @include unstyled-link;
        color: var(--#{$prefix}system-blue);

        &:hover,
        &:focus-visible {
          text-decoration: underline;
        }

        &:focus-visible {
          outline: none;
          text-decoration-thickness: 0.2em;
        }

        @media (hover: none) {
          text-decoration: underline;
        }
      }
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: -16px;
      bottom: 0;
      padding-right: 32px;
      background: linear-gradient(90deg, var(--#{$prefix}body-bg) 60%, rgba(255, 255, 255, 0) 100%);
    }
  }

  &:focus-within {
    transform: translateY(0);
  }
}
